@model ProyectoMusica.Models.Grupo

@{
    ViewData["Title"] = "Detalles del Grupo ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"] @Model.Nombre</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vocalista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vocalista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumIntegrantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumIntegrantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFormacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFormacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
        </svg> Regresar
    </a>
</div>
